<form action="/signup" method="post" enctype="multipart/form-data">

    <label for="">NAME</label>
    <input type="text" class="form-control" name="name">
  
  


  
    <label for="">Email address</label>
    <input type="email" class="form-control"name="email" >
  
  

    <label for="">Password</label>
    <input type="password" name="password" id="password" />

 
  
  <a href="/login">ALREADY HAVE AN ACCOUNT</a>
  <br>
  <button type="submit" class="btn btn-primary">SIGN UP</button>

</form>